NODE_ENV=development
PORT=3000

NUXT_PUBLIC_BACKEND_URL=http://localhost:9000
NUXT_PUBLIC_BACKEND_URL_DOCKER=http://host.docker.internal:9000
PORTFOLIO_SITE_LANDING_IMAGE=portfolio-site-landing:local

TZ=Asia/Jakarta

